<aside class="container-fluid align-items-center" >
  <div class="row align-items-center">
  <ul class="flex-column align-items-center">
    <li class="row ">
      <div class="justify-content-center  p-5" >
        <a
          role="button"
          class="main-border-button px-5 pt-3 pb-3"
          routerLink="/dashBoard/product"
        >
          Product</a
        >
      </div>
    </li>
   
    <li class="row ">
      <div class="justify-content-center  p-5" >
        <a
          role="button"
          class="main-border-button px-5 pt-3 pb-3"
          routerLink="/dashBoard/user"
        >
          Users</a
        >
      </div>
    </li>
  </ul>
</div>
</aside>
