.Items-controller{
  text-align: center;
  line-height: 50px;
  font-size: large;
  display: inline-block;
  color: #fff;
  background-color:#2a2a2a;
  transition: all .3s;
}

.Items-controller:hover {
  color: #8b8787;
}
